{% extends "layout.html" %}
{% block body %}
        <div class="header">
            <h1>Login</h1>
        </div>
        <div class="container">
            <div class="section">
            {% if file_upload %}
                <form action="/" method="post" enctype="multipart/form-data">
            {% else %}
                <form action="/" method="post">
            {% endif %}
                    <input autocomplete="off" autofocus required name="username" placeholder="Username" type="text">
                    <input autocomplete="off" required name="password" placeholder="Password" type="password">
                {% if file_upload %}
                    <input required name="filename" type="file">
                {% endif %}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <button type="button" onclick="testJson()">Send JSON</button>
            </div>
        </div>
        <div class="container" id="answer">
            <p>Response</p>
        </div>
{% endblock %}
